<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>About</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
        <h2>Introducing Recklessdriver.co.nz: New Zealand&rsquo;s New Reckless Driver Reporting Tool</h2>

        <p>Throughout New Zealand (and in many other countries around the world) reckless driving is becoming an increasingly severe issue. According to the Ministry of Transport, reckless drivers can be engaging in anything from driving without a license,&nbsp; excessive speeding, or driving drunk. More specifically, reckless driving can be considered any act on the road that puts other drivers at great risk, such as cutting cars off or driving erratically.</p>
        <p>If you&rsquo;re like us, then you&rsquo;ve run into your fair share of reckless drivers throughout the country. These experiences invariably lead to anger, frustration, and sometimes even fear. If you&rsquo;re like most drivers, you may have also let out an expletive or two at these crazy drivers. However, what if there was a way to report reckless drivers to the authorities quickly and accurately?</p>

        <p>That&rsquo;s where our new service, called Recklessdriver.co.nz, comes into play. Recklessdriver.co.nz picks off where dash camera video and license plate numbers drop off. This are critical when reporting reckless driving incidents, yet these pieces of information often fall short by themselves.</p>

        <p><strong>What is Recklessdriver.co.nz? </strong></p>
        <p>At its core, Recklessdriver.co.nz is a platform that seeks to allow drivers to join together with the opportunity to file reckless driving reports in near real-time. We have been directly affected by reckless driving ourselves, just as a countless number of drivers throughout the country.</p>

        <p>Providing drivers the opportunity to file free reckless driving reports increases the odds that the perpetrators of such careless behavior get busted. In the end, we created Recklessdriver.co.nz because we wanted to assist in making our country&rsquo;s roads a bit more safer and enjoyable for all.</p>


        <p><strong>Why Create Such a Platform?</strong></p>
        <p>Through providing a digital platform where New Zealanders can report incidents of careless driving, the goal is to help decrease the number of reckless driving incidents that occur each year. We created Recklessdriver.co.nz with the hope of helping to bring hotheaded drivers to justice.</p>

        <p>More importantly, we decided to make our innovative digital platform free for all to use. Free reporting lowers the barrier of entry for users. In turn, this allows users to post as many reports as they want, thus increasing the odds of getting reckless drivers off the road for good.</p>

        <p><strong>&nbsp;How Does It Work?</strong></p>
        <p>As different users file reports on the same reckless driving incident, the odds that the reckless driver will get busted increase. Recklessdriver.co.nz leverages detailed report forms to provide as much information to the authorities as possible.</p>

        <p>Users select the type of reckless driving offense they witnessed, which they can supplement with any photos or videos they were able to capture. Better yet, this information is paired with location mapping, where users can select the street (or intersection) and the direction in which the reckless driver was heading.</p>

        <p>This detailed report, which also includes time, date, and license plate number, provides the key to catching reckless drivers red-handed. If we work together, we can use Recklessdriver.co.nz as a tool to make our roads safer for everyone.</p>
</ion-content>


<ion-footer>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button shape="round" color="primary" routerLink="/" routerDirection="root">Start Reporting Now</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>
