// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/*background-color: #5AD414
;

color: black
;*/

/** Ionic CSS Variables **/
:root {
    --ion-color-primary: #D4145A;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #bb124f;
    --ion-color-primary-tint: #d82c6b;
    --ion-color-secondary: #FDE74C;
    --ion-color-secondary-rgb: 90, 212, 20;
    --ion-color-secondary-contrast: #212121;
    --ion-color-secondary-contrast-rgb: 33, 33, 33;
    --ion-color-secondary-shade: #dd9b34;
    --ion-color-secondary-tint: #fbb84f;
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-grid-width-xl: 992px;
    --ion-font-family: 'Quicksand', sans-serif;
}

:root ion-modal {
    --border-radius: 0
}

ion-content {
    --ion-background-color: none;
}
:root ion-label[position=fixed] + ion-input {
    --background: #f4f5f8;
}
:root ion-label {
    --color: #f4f5f8;
}
.ion-color-primary {
    --ion-color-base: var(--ion-color-primary, #3880ff) !important;
    --ion-color-base-rgb: var(--ion-color-primary-rgb, 56,128,255) !important;
    --ion-color-contrast: var(--ion-color-primary-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb, 255,255,255) !important;
    --ion-color-shade: var(--ion-color-primary-shade, #3171e0) !important;
    --ion-color-tint: var(--ion-color-primary-tint, #4c8dff) !important
}

.ion-color-secondary {
    --ion-color-base: var(--ion-color-secondary, #0cd1e8) !important;
    --ion-color-base-rgb: var(--ion-color-secondary-rgb, 12,209,232) !important;
    --ion-color-contrast: var(--ion-color-secondary-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb, 255,255,255) !important;
    --ion-color-shade: var(--ion-color-secondary-shade, #0bb8cc) !important;
    --ion-color-tint: var(--ion-color-secondary-tint, #24d6ea) !important
}

.ion-color-tertiary {
    --ion-color-base: var(--ion-color-tertiary, #7044ff) !important;
    --ion-color-base-rgb: var(--ion-color-tertiary-rgb, 112,68,255) !important;
    --ion-color-contrast: var(--ion-color-tertiary-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb, 255,255,255) !important;
    --ion-color-shade: var(--ion-color-tertiary-shade, #633ce0) !important;
    --ion-color-tint: var(--ion-color-tertiary-tint, #7e57ff) !important
}

.ion-color-success {
    --ion-color-base: var(--ion-color-success, #10dc60) !important;
    --ion-color-base-rgb: var(--ion-color-success-rgb, 16,220,96) !important;
    --ion-color-contrast: var(--ion-color-success-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb, 255,255,255) !important;
    --ion-color-shade: var(--ion-color-success-shade, #0ec254) !important;
    --ion-color-tint: var(--ion-color-success-tint, #28e070) !important
}

.ion-color-warning {
    --ion-color-base: var(--ion-color-warning, #ffce00) !important;
    --ion-color-base-rgb: var(--ion-color-warning-rgb, 255,206,0) !important;
    --ion-color-contrast: var(--ion-color-warning-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb, 255,255,255) !important;
    --ion-color-shade: var(--ion-color-warning-shade, #e0b500) !important;
    --ion-color-tint: var(--ion-color-warning-tint, #ffd31a) !important
}

.ion-color-danger {
    --ion-color-base: var(--ion-color-danger, #f04141) !important;
    --ion-color-base-rgb: var(--ion-color-danger-rgb, 240,65,65) !important;
    --ion-color-contrast: var(--ion-color-danger-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb, 255,255,255) !important;
    --ion-color-shade: var(--ion-color-danger-shade, #d33939) !important;
    --ion-color-tint: var(--ion-color-danger-tint, #f25454) !important
}

.ion-color-light {
    --ion-color-base: var(--ion-color-light, #f4f5f8) !important;
    --ion-color-base-rgb: var(--ion-color-light-rgb, 244,245,248) !important;
    --ion-color-contrast: var(--ion-color-light-contrast, #000) !important;
    --ion-color-contrast-rgb: var(--ion-color-light-contrast-rgb, 0,0,0) !important;
    --ion-color-shade: var(--ion-color-light-shade, #d7d8da) !important;
    --ion-color-tint: var(--ion-color-light-tint, #f5f6f9) !important
}

.ion-color-medium {
    --ion-color-base: var(--ion-color-medium, #989aa2) !important;
    --ion-color-base-rgb: var(--ion-color-medium-rgb, 152,154,162) !important;
    --ion-color-contrast: var(--ion-color-medium-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-medium-contrast-rgb, 255,255,255) !important;
    --ion-color-shade: var(--ion-color-medium-shade, #86888f) !important;
    --ion-color-tint: var(--ion-color-medium-tint, #a2a4ab) !important
}

.ion-color-dark {
    --ion-color-base: var(--ion-color-dark, #222428) !important;
    --ion-color-base-rgb: var(--ion-color-dark-rgb, 34,36,40) !important;
    --ion-color-contrast: var(--ion-color-dark-contrast, #fff) !important;
    --ion-color-contrast-rgb: var(--ion-color-dark-contrast-rgb, 255,255,255) !important;
    --ion-color-shade: var(--ion-color-dark-shade, #1e2023) !important;
    --ion-color-tint: var(--ion-color-dark-tint, #383a3e) !important
}

.ion-color-google {
    --ion-color-base: #dc4a38;
    --ion-color-base-rgb: 220, 74, 56;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #c24131;
    --ion-color-tint: #e05c4c;
}

.ion-color-facebook {
    --ion-color-base: #3b5998;
    --ion-color-base-rgb: 59, 89, 152;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #344e86;
    --ion-color-tint: #4f6aa2;
}

